<a href="https://colab.research.google.com/github/Ar-Anik/Machine_Learning/blob/main/Dataframe_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import pandas

data = pandas.read_csv('/content/Temperature.csv')
print(data.to_string())

         Day  Temperature  windspeed  event
0  15/6/2021           32          6   Rain
1  16/6/2022           35          7  Sunny
2  17/6/2023           28          2   Snow
3  18/6/2024           24          7   Snow
4  19/6/2025           32          4   Rain
5  20/6/2026           32          2  Sunny

In [111]:
import pandas

weather = {
    'Day' : ['15/6/2021', '16/6/2021', '17/6/2021', '18/6/2021', '19/6/2021', '20/6/2021'],
    'Temperature' : [32, 35, 28, 24, 32, 32],
    'Windspeed' : [6, 7, 2, 7, 4, 2],
    'Event' : ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

data = pandas.DataFrame(weather)
print(data)

         Day  Temperature  Windspeed  Event
0  15/6/2021           32          6   Rain
1  16/6/2021           35          7  Sunny
2  17/6/2021           28          2   Snow
3  18/6/2021           24          7   Snow
4  19/6/2021           32          4   Rain
5  20/6/2021           32          2  Sunny

In [79]:
import pandas

weather = {
    'Day' : ['15/6/2021', '16/6/2021', '17/6/2021', '18/6/2021', '19/6/2021', '20/6/2021'],
    'Temperature' : [32, 35, 28, 24, 32, 32],
    'Windspeed' : [6, 7, 2, 7, 4, 2],
    'Event' : ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

data = pandas.DataFrame(weather)
data.describe()

       Temperature  Windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
row, column = data.shape

print("Rows : ", row)
print("Column : ", column)

Rows :  6
Column :  4

In [ ]:
# head() function print first 5 row not all row

data.head()

         Day  Temperature  Windspeed  Event
0  15/6/2021           32          6   Rain
1  16/6/2021           35          7  Sunny
2  17/6/2021           28          2   Snow
3  18/6/2021           24          7   Snow
4  19/6/2021           32          4   Rain

In [ ]:
# print first 2 row

data.head(2)

         Day  Temperature  Windspeed  Event
0  15/6/2021           32          6   Rain
1  16/6/2021           35          7  Sunny

In [ ]:
# tail() function print last 5 row

data.tail()

         Day  Temperature  Windspeed  Event
1  16/6/2021           35          7  Sunny
2  17/6/2021           28          2   Snow
3  18/6/2021           24          7   Snow
4  19/6/2021           32          4   Rain
5  20/6/2021           32          2  Sunny

In [ ]:
# Last 3 row

data.tail(3)

         Day  Temperature  Windspeed  Event
3  18/6/2021           24          7   Snow
4  19/6/2021           32          4   Rain
5  20/6/2021           32          2  Sunny

In [ ]:
# Row 2 to 4 print

data[2 : 5]

         Day  Temperature  Windspeed Event
2  17/6/2021           28          2  Snow
3  18/6/2021           24          7  Snow
4  19/6/2021           32          4  Rain

In [ ]:
# print all element

data[ : ]

         Day  Temperature  Windspeed  Event
0  15/6/2021           32          6   Rain
1  16/6/2021           35          7  Sunny
2  17/6/2021           28          2   Snow
3  18/6/2021           24          7   Snow
4  19/6/2021           32          4   Rain
5  20/6/2021           32          2  Sunny

In [ ]:
# print column name

data.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [ ]:
# print each column

data['Day']         # also data.Day

0    15/6/2021
1    16/6/2021
2    17/6/2021
3    18/6/2021
4    19/6/2021
5    20/6/2021
Name: Day, dtype: object

In [ ]:
data['Temperature']     # also data.Temperature

0    32
1    35
2    28
3    24
4    32
5    32
Name: Temperature, dtype: int64

In [ ]:
data['Event']    # also data.Event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: Event, dtype: object

In [ ]:
data['Windspeed']    # also data.Windspeed

0    6
1    7
2    2
3    7
4    4
5    2
Name: Windspeed, dtype: int64

In [ ]:
# Data type

type(data['Event'])

pandas.core.series.Series

In [ ]:
# specific columns print

data[['Event', 'Day']]

   Event        Day
0   Rain  15/6/2021
1  Sunny  16/6/2021
2   Snow  17/6/2021
3   Snow  18/6/2021
4   Rain  19/6/2021
5  Sunny  20/6/2021

In [ ]:
data[['Day', 'Temperature']]

         Day  Temperature
0  15/6/2021           32
1  16/6/2021           35
2  17/6/2021           28
3  18/6/2021           24
4  19/6/2021           32
5  20/6/2021           32

In [ ]:
# Maximum Temperature

data['Temperature'].max()

35

In [ ]:
# Minimum Temperature

data['Temperature'].min()

24

In [ ]:
# Mean Value of Temperature

data['Temperature'].mean()

30.5

In [ ]:
# Standard Deviation of Temperature

data['Temperature'].std()

3.8858718455450894

In [ ]:
data[data.Temperature >= 32]

         Day  Temperature  Windspeed  Event
0  15/6/2021           32          6   Rain
1  16/6/2021           35          7  Sunny
4  19/6/2021           32          4   Rain
5  20/6/2021           32          2  Sunny

In [ ]:
data[data.Temperature == data.Temperature.max()]

         Day  Temperature  Windspeed  Event
1  16/6/2021           35          7  Sunny

In [ ]:
data[data['Temperature'] == data['Temperature'].max()]

         Day  Temperature  Windspeed  Event
1  16/6/2021           35          7  Sunny

In [ ]:
data['Day'][data.Temperature >= 32]

0    15/6/2021
1    16/6/2021
4    19/6/2021
5    20/6/2021
Name: Day, dtype: object

In [ ]:
data['Event'][data.Temperature == data.Temperature.max()]

1    Sunny
Name: Event, dtype: object

In [ ]:
data[['Day', 'Temperature']][data.Temperature == data.Temperature.max()]

         Day  Temperature
1  16/6/2021           35

In [85]:
# Row and Column

data.shape

(6, 4)

In [84]:
# Size of datafarme

data.size

24

In [83]:
# Sum of integer/float row

data['Temperature'].sum()

183

In [80]:
# sort by Temperature Value

data.sort_values(by='Temperature')

         Day  Temperature  Windspeed  Event
3  18/6/2021           24          7   Snow
2  17/6/2021           28          2   Snow
0  15/6/2021           32          6   Rain
4  19/6/2021           32          4   Rain
5  20/6/2021           32          2  Sunny
1  16/6/2021           35          7  Sunny

In [82]:
# sort by Winspeed Value

data.sort_values(by='Windspeed')

         Day  Temperature  Windspeed  Event
2  17/6/2021           28          2   Snow
5  20/6/2021           32          2  Sunny
4  19/6/2021           32          4   Rain
0  15/6/2021           32          6   Rain
1  16/6/2021           35          7  Sunny
3  18/6/2021           24          7   Snow

In [91]:
# DataFrame to Json Format

data.to_json()

'{"Day":{"0":"15\\/6\\/2021","1":"16\\/6\\/2021","2":"17\\/6\\/2021","3":"18\\/6\\/2021","4":"19\\/6\\/2021","5":"20\\/6\\/2021"},"Temperature":{"0":32,"1":35,"2":28,"3":24,"4":32,"5":32},"Windspeed":{"0":6,"1":7,"2":2,"3":7,"4":4,"5":2},"Event":{"0":"Rain","1":"Sunny","2":"Snow","3":"Snow","4":"Rain","5":"Sunny"}}'

In [112]:
data.index

RangeIndex(start=0, stop=6, step=1)

In [113]:
# index set

data.set_index('Day', inplace=True)
print(data)

           Temperature  Windspeed  Event
Day
15/6/2021           32          6   Rain
16/6/2021           35          7  Sunny
17/6/2021           28          2   Snow
18/6/2021           24          7   Snow
19/6/2021           32          4   Rain
20/6/2021           32          2  Sunny

In [115]:
# information of a index

data.loc['17/6/2021']

Temperature      28
Windspeed         2
Event          Snow
Name: 17/6/2021, dtype: object

In [118]:
# Reset Index 

data.reset_index(inplace=True)
data

   Event        Day  Temperature  Windspeed
0   Rain  15/6/2021           32          6
1  Sunny  16/6/2021           35          7
2   Snow  17/6/2021           28          2
3   Snow  18/6/2021           24          7
4   Rain  19/6/2021           32          4
5  Sunny  20/6/2021           32          2

In [119]:
data.set_index('Event', inplace=True)

print(data)

             Day  Temperature  Windspeed
Event
Rain   15/6/2021           32          6
Sunny  16/6/2021           35          7
Snow   17/6/2021           28          2
Snow   18/6/2021           24          7
Rain   19/6/2021           32          4
Sunny  20/6/2021           32          2

In [120]:
data.loc['Snow']

             Day  Temperature  Windspeed
Event
Snow   17/6/2021           28          2
Snow   18/6/2021           24          7

In [121]:
# DataFrame

import pandas
a = pandas.DataFrame([[1, 2], [3, 4], [5, 6]], columns=["Odd Numbers", "Even Numbers"])
print(a)

   Odd Numbers  Even Numbers
0            1             2
1            3             4
2            5             6

In [122]:
# Series

import numpy
import pandas

s = pandas.Series([1, 2, 3, 4, 5], dtype=numpy.int64, name='Integer')
print(s)

0    1
1    2
2    3
3    4
4    5
Name: Integer, dtype: int64

In [123]:
# Series Name change

s.name = "Numbers"
print(s)

0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64