<a href="https://colab.research.google.com/github/Ar-Anik/Machine_Learning/blob/main/Decision_Tree_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [43]:
data = pandas.read_csv('Gender.csv')

data

   Height  Weight  Shoe_Size  Gender
0     181      80         44    Male
1     177      70         43  Female
2     160      60         38  Female
3     154      54         37  Female
4     166      65         40    Male
5     190      90         47    Male
6     175      64         39    Male
7     171      75         42  Female
8     185      85         43  Female
9     169      71         42    Male

In [44]:
x = data.drop(['Gender'], axis=1)

x

   Height  Weight  Shoe_Size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [45]:
y = data.Gender

y

0      Male
1    Female
2    Female
3    Female
4      Male
5      Male
6      Male
7    Female
8    Female
9      Male
Name: Gender, dtype: object

In [55]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [56]:
x_train

   Height  Weight  Shoe_Size
5     190      90         47
1     177      70         43
9     169      71         42
0     181      80         44
4     166      65         40
3     154      54         37
8     185      85         43
7     171      75         42

In [57]:
x_test

   Height  Weight  Shoe_Size
6     175      64         39
2     160      60         38

In [58]:
y_train

5      Male
1    Female
9      Male
0      Male
4      Male
3    Female
8    Female
7    Female
Name: Gender, dtype: object

In [59]:
y_test

6      Male
2    Female
Name: Gender, dtype: object

In [60]:
# Tree Model Create

clf_model = DecisionTreeClassifier()

In [61]:
# Train Tree Model

clf_model.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [62]:
y_prediction = clf_model.predict(x_test)

In [71]:
# check Accuracy
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_prediction)

0.5

In [69]:
# Predicted Gender

clf_model.predict([[175, 64, 39]])

array(['Female'], dtype=object)

In [70]:
# Predict Gender

clf_model.predict([[160, 60, 38]])

array(['Female'], dtype=object)