<a href="https://colab.research.google.com/github/Ar-Anik/Machine_Learning/blob/main/K_Fold_Cross_Validation_in_Iris_Dataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas
from sklearn.datasets import load_iris

iris = load_iris()

In [3]:
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [4]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
# convert pandas data Frame

data = pandas.DataFrame(iris.data, columns=iris.feature_names)
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
data['target'] = iris.target

data

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [8]:
x = data.drop(['target'], axis='columns')

x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
y = data.target

y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [53]:
# split data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30)

In [54]:
x_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
47                 4.6               3.2                1.4               0.2
140                6.7               3.1                5.6               2.4
50                 7.0               3.2                4.7               1.4
19                 5.1               3.8                1.5               0.3
65                 6.7               3.1                4.4               1.4

In [55]:
y_train.head()

47     0
140    2
50     1
19     0
65     1
Name: target, dtype: int64

In [56]:
x_test.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
117                7.7               3.8                6.7               2.2
109                7.2               3.6                6.1               2.5
128                6.4               2.8                5.6               2.1
22                 4.6               3.6                1.0               0.2
134                6.1               2.6                5.6               1.4

In [57]:
y_test.head()

117    2
109    2
128    2
22     0
134    2
Name: target, dtype: int64

In [58]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression

lm = LogisticRegression(solver='saga', max_iter=2000)

lm.fit(x_train, y_train)

lm.score(x_test, y_test)

0.9777777777777777

In [59]:
# Support vector machine
from sklearn.svm import SVC

svm = SVC()

svm.fit(x_train, y_train)

svm.score(x_test, y_test)

0.9555555555555556

In [60]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

rm = RandomForestClassifier(n_estimators=50)

rm.fit(x_train, y_train)

rm.score(x_test, y_test)

0.9555555555555556

In [64]:
# Create a Function 

def get_score(model, x_train, x_test, y_train, y_test):
  model.fit(x_train, y_train)
  return model.score(x_test, y_test)

In [65]:
# K-Fold model create
# n_splits is number of fold

lgr = []
svm = []
rfc = []

from sklearn.model_selection import StratifiedKFold
fold = StratifiedKFold(n_splits=5)

for train_index, test_index in fold.split(iris.data, iris.target):
  x_train, x_test, y_train, y_test = iris.data[train_index], iris.data[test_index], iris.target[train_index], iris.target[test_index]

  lgr.append(get_score(LogisticRegression(solver='saga', max_iter=2000), x_train, x_test, y_train, y_test))
  svm.append(get_score(SVC(), x_train, x_test, y_train, y_test))
  rfc.append(get_score(RandomForestClassifier(n_estimators=50), x_train, x_test, y_train, y_test))

In [66]:
lgr

[0.9666666666666667, 1.0, 0.9333333333333333, 0.9666666666666667, 1.0]

In [67]:
svm

[0.9666666666666667,
 0.9666666666666667,
 0.9666666666666667,
 0.9333333333333333,
 1.0]

In [68]:
rfc

[0.9666666666666667,
 0.9666666666666667,
 0.9333333333333333,
 0.9666666666666667,
 1.0]

In [69]:
# the above score finding work done by a singel method by cross_val_score

from sklearn.model_selection import cross_val_score

In [71]:
# LogisticRegression

cross_val_score(LogisticRegression(solver='saga', max_iter=2000), iris.data, iris.target)

array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ])

In [72]:
# Support Vector Machine

cross_val_score(SVC(), iris.data, iris.target)

array([0.96666667, 0.96666667, 0.96666667, 0.93333333, 1.        ])

In [73]:
# Random Forest

cross_val_score(RandomForestClassifier(n_estimators=50), iris.data, iris.target)

array([0.96666667, 0.96666667, 0.93333333, 0.93333333, 1.        ])