<a href="https://colab.research.google.com/github/Ar-Anik/Machine_Learning/blob/main/Support_Vector_Machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas

data = pandas.read_csv('indian_liver_patient.csv')

data.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65  Female              0.7  ...      3.3                        0.90        1
1   62    Male             10.9  ...      3.2                        0.74        1
2   62    Male              7.3  ...      3.3                        0.89        1
3   58    Male              1.0  ...      3.4                        1.00        1
4   72    Male              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [23]:
# Null data Check

data.isnull().values.any()

True

In [24]:
# See Null Value

null_columns = data.columns[data.isnull().any()]

data[data.isnull().any(axis=1)][null_columns]

     Albumin_and_Globulin_Ratio
209                         NaN
241                         NaN
253                         NaN
312                         NaN

In [25]:
# Delete Null value Columns

data.dropna(how='any', axis=0, inplace=True)

In [26]:
# Now Check Null value Again

data.isnull().values.any()

False

In [27]:
# In this dataset Gender Column data is Catagorical Now Convert Catagorical data to Numeric data by map Function

data.replace({'Gender':{'Female': 1, 'Male': 0}}, inplace = True)

data.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65       1              0.7  ...      3.3                        0.90        1
1   62       0             10.9  ...      3.2                        0.74        1
2   62       0              7.3  ...      3.3                        0.89        1
3   58       0              1.0  ...      3.4                        1.00        1
4   72       0              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [28]:
x = data[['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase', 'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin', 'Albumin_and_Globulin_Ratio']]
y = data['Dataset']

In [29]:
x

     Age  Gender  ...  Albumin  Albumin_and_Globulin_Ratio
0     65       1  ...      3.3                        0.90
1     62       0  ...      3.2                        0.74
2     62       0  ...      3.3                        0.89
3     58       0  ...      3.4                        1.00
4     72       0  ...      2.4                        0.40
..   ...     ...  ...      ...                         ...
578   60       0  ...      1.6                        0.37
579   40       0  ...      3.2                        1.10
580   52       0  ...      3.2                        1.00
581   31       0  ...      3.4                        1.00
582   38       0  ...      4.4                        1.50

[579 rows x 10 columns]

In [30]:
y

0      1
1      1
2      1
3      1
4      1
      ..
578    2
579    1
580    1
581    1
582    2
Name: Dataset, Length: 579, dtype: int64

In [41]:
# split data for train and testing
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [42]:
x_train

     Age  Gender  ...  Albumin  Albumin_and_Globulin_Ratio
508   46       0  ...      3.3                        0.70
499   55       0  ...      2.9                        0.60
435   17       1  ...      4.5                        1.70
164   39       0  ...      4.3                        1.38
383   60       1  ...      2.5                        1.00
..   ...     ...  ...      ...                         ...
297   25       1  ...      4.4                        1.70
420   55       1  ...      2.3                        0.50
65    57       0  ...      2.5                        0.80
501   36       0  ...      2.5                        0.70
296   74       1  ...      4.0                        1.00

[405 rows x 10 columns]

In [43]:
y_train

508    1
499    1
435    2
164    1
383    2
      ..
297    2
420    1
65     1
501    1
296    1
Name: Dataset, Length: 405, dtype: int64

In [44]:
x_test

     Age  Gender  ...  Albumin  Albumin_and_Globulin_Ratio
447   45       1  ...      3.5                        0.80
206   40       0  ...      2.9                        0.70
507   50       0  ...      3.9                        1.00
33    38       1  ...      3.0                        0.80
514   49       0  ...      4.2                        1.00
..   ...     ...  ...      ...                         ...
573   32       0  ...      1.9                        0.40
34    38       1  ...      3.0                        0.80
533   46       1  ...      1.0                        0.30
197   26       1  ...      2.4                        0.75
456   32       0  ...      3.1                        0.70

[174 rows x 10 columns]

In [45]:
y_test

447    1
206    1
507    1
33     2
514    1
      ..
573    1
34     2
533    1
197    1
456    2
Name: Dataset, Length: 174, dtype: int64

In [47]:
# Now train Support Vector Machine model
from sklearn.svm import SVC

model = SVC(kernel='rbf')

model.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [48]:
# accuracy calculate

model.score(x_test, y_test)

0.7241379310344828

In [50]:
# Create Confusion Matrix
from sklearn.metrics import confusion_matrix

predict = model.predict(x_test)

confusion_matrix(y_test, predict)

array([[126,   0],
       [ 48,   0]])