<a href="https://colab.research.google.com/github/Ar-Anik/Machine_Learning/blob/main/Ways_Of_Creating_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

data = pandas.read_csv('/content/Temperature.csv')
data

         Day  Temperature  windspeed  event
0  15/6/2021           32          6   Rain
1  16/6/2022           35          7  Sunny
2  17/6/2023           28          2   Snow
3  18/6/2024           24          7   Snow
4  19/6/2025           32          4   Rain
5  20/6/2026           32          2  Sunny

In [2]:
import pandas

data = pandas.read_excel('/content/Temperature.xlsx')
data

         Day  Temperature  windspeed  event
0  15/6/2021           32          6   Rain
1  16/6/2022           35          7  Sunny
2  17/6/2023           28          2   Snow
3  18/6/2024           24          7   Snow
4  19/6/2025           32          4   Rain
5  20/6/2026           32          2  Sunny

In [3]:
weather = {
    'Day' : ['16/6/2021', '17/6/2021', '18/6/2021'],
    'Temperature' : [30, 29, 28],
    'Windspeed' : [6, 7, 2],
    'Event' : ['Rain', 'Sunny', 'Snow']
}

dataf = pandas.DataFrame(weather)
dataf

         Day  Temperature  Windspeed  Event
0  16/6/2021           30          6   Rain
1  17/6/2021           29          7  Sunny
2  18/6/2021           28          2   Snow

In [5]:
weather = [
      ('16/6/2021', 30, 6, 'Rain'),
      ('17/6/2021', 29, 7, 'Sunny'),
      ('18/6/2021', 28, 2, 'Snow'),
      ('19/6/2021', 27, 4, 'Rain'),
      ('20/6/2021', 28, 6, 'Rain')
]

data = pandas.DataFrame(weather, columns=['Day', 'Temperature', 'Windspeed', 'Event'])

data

         Day  Temperature  Windspeed  Event
0  16/6/2021           30          6   Rain
1  17/6/2021           29          7  Sunny
2  18/6/2021           28          2   Snow
3  19/6/2021           27          4   Rain
4  20/6/2021           28          6   Rain

In [7]:
weather = [
    {'Day' : '16/6/2021', 'Temperature' : 30, 'Windspeed' : 6, 'Event' : 'Rain'},
    {'Day' : '17/6/2021', 'Temperature' : 29, 'Windspeed' : 7, 'Event' : 'Sunny'},
    {'Day' : '18/6/2021', 'Temperature' : 28, 'Windspeed' : 2, 'Event' : 'Snow'},
    {'Day' : '19/6/2021', 'Temperature' : 27, 'Windspeed' : 4, 'Event' : 'Rain'},
    {'Day' : '20/6/2021', 'Temperature' : 28, 'Windspeed' : 6, 'Event' : 'Rain'},
]

data = pandas.DataFrame(weather)
data

         Day  Temperature  Windspeed  Event
0  16/6/2021           30          6   Rain
1  17/6/2021           29          7  Sunny
2  18/6/2021           28          2   Snow
3  19/6/2021           27          4   Rain
4  20/6/2021           28          6   Rain

In [ ]:
# For More Information Go ---> Pandas IO